<section id="home" class="home-1 parallax one-page-section">
    <div class="page-table">
        <div class="table-cell text-center">
            <div class="avatar-hero">
                <img src="{{ vich_uploader_asset(information, 'photo') }}" alt="avatar">
            </div>
            <h1>Bienvenue, je suis Marie Bieber</h1>
            <h2 class="typer-title">Masseur-kinésithérapeute</h2>
            <a href="#about" class="scroll home-s-btn hor-center"><span class="dot center"></span></a>
        </div>
    </div>
    <div id="particles-js"></div>
</section>