<div class="row">
    <div class="col-xs-12">
        <div class="box {{ box_class }}">
            <div class="box-header">
                {% block boxheader %}{% endblock %}
            </div>
            <div class="box-body">
                {% block boxcontent %}{% endblock %}
            </div>
        </div>
    </div>
</div>
