{% extends 'base_structure.html.twig' %}

{% block html_attributes %}class="{% block html_classes %}{% endblock %}" lang="fr"
{% endblock %}

{% block head_attributes %}{% endblock %}
{% block head_content %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    {% block icon %}{% endblock %}
    {% block stylesheets %}{% endblock %}
{% endblock %}

{% block body_attributes %}id="top"{% endblock %}
{% block body_content %}
    {% block body %}{% endblock %}
    {% block body_bottom %}
        {% block javascripts %}{% endblock %}
    {% endblock %}
{% endblock %}
