<footer class="footer">
    <div class="container">
        <div class="row">
            <a href="#home" class="effect footer-title">Marie</a>

            <p class="copy-text">Imozar &copy; 2018. all right reserved, designed by <strong><a href="https://themeforest.net/user/phydev" target="_blank">PhyDev</a></strong>.</p>
        </div> <!-- end row -->
    </div> <!-- End Container -->
</footer>

<a href="#" class="scroll-up effect">
    <i class="fa fa-angle-up"></i>
</a>